.ButtonEnter {
  border: none;
  outline: none;
  height: 40px;
  width: 140px;
  font-size: 15px;
  border-radius: 20px;
  font-size: 15px;
  border-radius: 20px;
  background: #915e94;
  transition: 0.3s ease;
}

.ButtonEnter:Hover {
  cursor: pointer;
  background: #915887;
  box-shadow: 0 0 5px #915887,
              0 0 20px #915887,
              0 0 60px #915887,
              0 0 150px #915887;
}

